---
import ComingSoon from "../components/ComingSoon.svelte";
import "@fontsource/iosevka-etoile";
import "../styles/global.css";

import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";
---

<html lang="th">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <meta name="generator" content={Astro.generator} />
    <title>Operation Bifrost | ปฏิบัติการไบฟรอส</title>
  </head>

  <body>
    <ComingSoon client:load />
    <Analytics />
    <SpeedInsights />
  </body>
</html>
